body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
}
p{
    color: white;
}

/* Top Section*/
.top-container{
  background-color: Black;
  position: relative;
  padding: 100px 0;
}

.headshot-image{
  width: 225px;
  padding-left: 30px
}

.Large-Name{
    font-family: 'Castoro Titling', cursive;
    font-size: 4rem;
    color: white;
    margin: 0;
}
.intro-text{
    padding: 30px 0 0 0;
}
.top-container-box{
    display: flex;
    flex-wrap: wrap;
}
.top-box-1{
    flex: 1;
    margin: 20px;
    text-align: right;
}
.top-box-2{
    flex: 1;
    margin: 20px;
    text-align: left;
}

/*About Me*/
.about-me-container{
  padding: 40px;
  text-align: center;
}
.About-Me-Text{
    font-family: 'Castoro Titling', cursive;
    font-size: 2.3rem;
}
.About-Me-Border{
  display: inline-block;
  text-align: center;
  position: relative;
  width: auto;
}
.About-Me-Border:before,
.About-Me-Border:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  top: 0;
  width: 100%;
  }
.About-Me-Border:before {
  right: 100%;
  margin-right: 15px;
  }
.About-Me-Border:after {
  left: 100%;
  margin-left: 15px;
  }
.about-me-box{
  display: flex;
  flex-wrap: wrap;
}
.about-me-box-sub{
  flex: 1;
  margin: 20px;
  text-align: center;
}
.about-sub-header{
  font-size: 2em;
}
.about-subp{
  color: black;
  font-size: 20px;
  padding: 0 50px;
}
.about-box-1-img, .about-box-2-img{
  width: 200px;
  padding: 88px 0;
}
.about-box-3-img{
  width: 200px;
}

/* Resume */
.resume-container{
  padding: 40px;
  text-align: center;
  background-color: black;
}
.resume-text{
    font-family: 'Castoro Titling', cursive;
    font-size: 2.3rem;
    color: white;
}
.resume-border{
  display: inline-block;
  text-align: center;
  position: relative;
  width: auto;
}
.resume-border:before,
.resume-border:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  top: 0;
  width: 100%;
  }
.resume-border:before {
  right: 100%;
  margin-right: 15px;
  }
.resume-border:after {
  left: 100%;
  margin-left: 15px;
  }
.resume-box{
  display: flex;
  flex-wrap: wrap;
}
.resume-box-sub{
  flex: 1;
  margin: 20px;
  text-align: center;
}
.resume-sub-header{
  font-size: 2em;
  color: white;
}
.resume-subp{
  font-size: 20px;
  padding: 0 50px;
}
.resume-dates{
  color: white;
  font-size: 1.35em;
}
.resume-box-1-img, .about-box-2-img{
  width: 200px;
}
.resume-box-3-img{
  width: 325px;
}

/* Examples */
.examples-container{
  padding: 40px;
  text-align: center;
}
.examples-text{
    font-family: 'Castoro Titling', cursive;
    font-size: 2.3rem;
}
.examples-border{
  display: inline-block;
  text-align: center;
  position: relative;
  width: auto;
}
.examples-border:before,
.examples-border:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  top: 0;
  width: 100%;
  }
.examples-border:before {
  right: 100%;
  margin-right: 15px;
  }
.examples-border:after {
  left: 100%;
  margin-left: 15px;
  }
.examples-section-subheader{
  font-size: 1.5em;
}
.example-1-container, .example-2-container{
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.example-img-1, .example-img-2{
  width: 425px;
  border: 2px solid black;
  margin-top: 75px;
}
.examples-sub-header{
  font-size: 2em;
}
.examples-subp{
  color: black;
  font-size: 20px;
  padding: 0 50px;
}

/* Contact */
.contact-container{
  padding: 40px 40px 100px 40px;
  text-align: center;
  background-color: black;
}
.contact-text{
    font-family: 'Castoro Titling', cursive;
    font-size: 2.3rem;
    color: white;
}
.contact-border{
  display: inline-block;
  text-align: center;
  position: relative;
  width: auto;
}
.contact-border:before,
.contact-border:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  top: 0;
  width: 100%;
  }
.contact-border:before {
  right: 100%;
  margin-right: 15px;
  }
.contact-border:after {
  left: 100%;
  margin-left: 15px;
  }
.contact-section-subheader{
  font-size: 1.5em;
  color: white;
}
.contact-subp{
  font-size: 20px;
  padding: 0 50px 40px;
}
.contact-btn{
  color: #000000;
  background-color: #ffffff;
  font-size: 22px;
  border-radius: 10px;
  padding: 15px 50px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
}
.contact-btn:hover {
  color: #ffffff;
	background-color: #878787;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* footer */
.footer-container{
  text-align: center;
  background-color: black;
}
.footer-link{
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
}
.footer-link:hover{
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: grey;
}
@media (max-width: 830px) {
  .top-box-1, .top-box-2{
    flex: 100%;
    text-align: center;
  }
  .headshot-image{
    padding-left: 0;
  }
}

@media (max-width: 1463px){
  .intro-text{
    padding: 0 0 0 0;
  }
}
